*{
    background-color: black;
    margin: 0px;
}
@media (max-width: 750px){
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        color: black;
        height: 80px;
    }
    .options{
        padding: 5px;
        font-size: 1rem;
        background-color: white;
    }
    a{
        background-color: white;
        color: black;
        padding: 10px;
        text-decoration: none;
    }
    .img1{
        height: 200px;
        width: 200px;
    }
    #home{
        height: 250px;
        color: white;
        display: flex;
    }
    .hh1{
        font-size: 10px;
        padding-top: 60px;
        padding-left: 20px;
    }
    .btn1{
        height: 15px; 
        width: 80px; 
        font-size: 10px;
        color: white; 
        border: 1px solid white; 
        margin-top: 10px;
    }

    #about{
        height: 200px;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }
    .ab1{
        padding: 10px;
        background-color: white;
        font-size: 20px;
    }
    .ab2{
        padding-top: 10px;
        background-color: white;
        width: 60%;
    }
    .btn2{
        height: 20px;
        width: 20x;
        margin-top: 18px;
        color: white;
        border: 1px solid white;
        background-color: rgba(15, 14, 14, 0.756);
        font-size: 10px;
    }
    #skills{
        background-color: grey;
        color: white;
        height: 300px;
    }
    #skills h1{
        background-color: grey;
        padding-top: 20px;
        font-size: 30px;
        color: white;
    }
    .container{
        padding-top: 20px;
        background-color: grey;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 3px;
        justify-content: space-evenly;
    }
    .item{
        background-color: black;
        height: 30px;
        width: 200px;
        text-align: center;
        font-size: 1.2em;
    } 
    #projects{
        color: white;
        height: 350px;
        background-color: white;
    }
    #projects h1{
        background-color: white;
        color: white; 
        font-size: 30px; 
        padding-top: 25px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .p_container{
        background-color: white;
        color: white;
        display: flex;
        justify-content: center;
    }
    .box{
        height: 130px;
        width: 100px;
        background-color: white;
    }
    .box p{
        background-color: white;
        color: black;
        font-size: 10px;
    }
    .box img{
        height: 100px;
        width: 100px;
    }
    #contact{
        height: 330px;
        background-color: black;
        color: white;
    }
    .c1{
        color: white;
        padding-left: 50px;
    }
    .c1 h1{
        padding-top: 30px;
        color: white;
    }
    .c1 h2{
        padding-top: 30px;
    }
    form{
        color: white;
        padding-top: 50px;
        padding-left: 30px;
    }
    .c2 input{
        background-color: white;
        padding-top: 10px;
        width: 200px;
    }
    .c2 button{
        background-color: rgb(219, 219, 105);
        color: black;
        margin-top: 20px;
        width: 240px;
        height: 30px;
        font-size: 1rem;
        border-radius: 10px;
    }
}

@media (min-width: 750px)
{
    .header{
        height: 100px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .options{
        background-color: white;
        font-size: 1.3em;
    }
    a{
        background-color: white;
        text-decoration: none;
        color: black;
        padding: 30px;
    }
    .img1{
        padding-top: 20px;
        padding-left: 10px;
        height: 600px;
        width: 600px;
    }
    #home{
        height: 650px;
        color: white;
        display: flex;
    }
    .hh1{
        padding-top: 190px;
        padding-left: 120px;
        font-size: 1.5rem;
    }
    .btn1{
        height: 40px; 
        width: 150px; 
        font-size: 1.2rem; 
        color: white; 
        border: 1px solid white; 
        margin-top: 20px;
    }
    #about{
        height: 300px;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }
    .ab1{
        padding: 100px;
        background-color: white;
        font-size: 50px;
    }
    .ab2{
        padding-top: 30px;
        background-color: white;
        width: 60%;
    }
    .ab2 p{
        height: 150px;
    }
    .btn2{
        height: 50px;
        width: 200px;
        margin-top: 18px;
        color: white;
        border: 1px solid white;
        background-color: rgba(15, 14, 14, 0.756);
        font-size: 15px;
    }
    #skills{
        color: white;
        height: 300px;
        background-color: grey;
    }
    #skills h1{
        background-color: grey;
        color: white; 
        font-size: 40px; 
        padding-top: 25px;
    }
    .container{
        padding-top: 50px;
        background-color: grey;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: space-evenly;
    }
    .item{
        background-color: black;
        height: 30px;
        width: 200px;
        text-align: center;
        font-size: 1.2em;
    }
    #projects{
        color: white;
        height: 650px;
        background-color: white;
    }
    #projects h1{
        background-color: white;
        color: white; 
        font-size: 40px; 
        padding-top: 25px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .p_container{
        background-color: white;
        color: white;
        display: flex;
        justify-content: center;
    }
    .box{
        padding-left: 30px;
        height: 250px;
        width: 200px;
        background-color: white;
    }
    .box img{
        height: 200px;
        width: 200px;
    }
    .box p{
        background-color: white;
        color: black;
        font-size: 20px;
    }
    #contact{
        height: 330px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-evenly;
    }
    .c1{
        color: white;
        padding-left: 100px;
    }
    .c1 h1{
        padding-top: 50px;
        color: white;
    }
    .c1 h2{
        padding-top: 30px;
    }
    .c2{
        color: white;
        padding-top: 50px;
    }
    .c2 input{
        background-color: white;
        padding-top: 10px;
        width: 200px;
    }
    .c2 button{
        background-color: rgb(219, 219, 105);
        color: black;
        margin-top: 20px;
        width: 240px;
        height: 30px;
        font-size: 1rem;
        border-radius: 10px;
    }
    input:focus {
        border: 2px solid #FFD700; /* Gold border */
        outline: none;
    }
    body {
        font-family: 'Poppins', sans-serif;
    }
}
